@import "tailwindcss";
@plugin "daisyui"{
	themes: light --default;
};

.custom-outline-text {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-transparent;
  -webkit-text-stroke: 1px #003294;
}
.custom-outline-text-InfoUneed {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold text-transparent;
  -webkit-text-stroke: 1px white;
}
.custom-outline-text-Footer {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-5xl font-bold text-transparent;
  -webkit-text-stroke: 1px white;
}
.transition-all {
  transition: all 0.3s ease-in-out;
}



.gradient-border {
  @apply absolute inset-0 rounded-full bg-gradient-to-r from-blue-400 to-purple-500 p-2;
}
.gradient-border-inner {
  @apply w-full h-full rounded-full bg-white;
}
.avatar-img {
  @apply w-[100%] h-[100%] object-cover rounded-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}



.footer-logo:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.footer-logo:active:after {
  width: 60px;
  height: 60px;
}