@import "tailwindcss";
@plugin "daisyui"{
	themes: light --default;
};

.custom-outline-text {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-transparent;
  -webkit-text-stroke: 1px #003294;
}
.custom-outline-text-InfoUneed {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold text-transparent;
  -webkit-text-stroke: 1px white;
}
.transition-all {
  transition: all 0.3s ease-in-out;
}