@import "tailwindcss";
@plugin "daisyui"{
	themes: light --default;
};

.custom-outline-text {
    font-size: 3rem;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px #003294;
  }
  @media (max-width: 640px) { /* Giả sử sm là 640px */
    .custom-outline-text {
        font-size: 2rem; /* Kích thước chữ cho màn hình nhỏ */
    }
}
.custom-outline-text-InfoUneed {
  font-size: 2.5rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px white;
}